* {
  margin: 0;
  padding: 0;
}

app {
  position: absolute;
  border: 3px solid blue;
  overflow: hidden;
}

app .world  {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
}

.world .block {
  position: relative;
  display: block;
  float: left;
  width: 89px;
  height: 89px;
  background: transparent;
  z-index: 0;
}

.world .block img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

app .sprite {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.world .block img,
app .sprite img {
  position: absolute;
  left: 0;
  top: 0;
  width: 89px;
  height: 89px;
}
